# EditorConfig: https://EditorConfig.org
#
#     Atom plugin: https://atom.io/packages/editorconfig
#     Sublime plugin: https://github.com/sindresorhus/editorconfig-sublime
#     Vim plugin: https://github.com/editorconfig/editorconfig-vim
#     Emacs plugin: https://github.com/editorconfig/editorconfig-emacs
#     VSCode plugin: https://github.com/editorconfig/editorconfig-vscode

[*]
end_of_line = lf # Unix-style newlines

# javacript files
[*.js]
max_line_length = 120
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
